@model List<OnlineCinema.Domain.DomainModels.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="m-3">
            <a class="btn btn-secondary" asp-controller="Tickets" asp-action="Create">Create New Ticket</a>
        </div>

        @for (int i = 0; i < Model.Count; i++)
        {
            var ticket = Model[i];

            if (i % 3 == 0)
            {
                @:<div class="row">
                }


                <div class="col-md-3 m-4">
                    <div class="card" style="width: 18rem; height: 30rem;">
                        <img class="card-img-top" src="@ticket.TicketImage" style="height: 50%" alt="Image for product!" />

                        <div class="card-body">
                            <h3 class="card-title">@ticket.TicketName</h3>
                            <p class="card-text">@ticket.TicketDescription</p>
                            <h5 class="card-text">@ticket.TicketDate.Date</h5>

                            <h2 class="card-text">@ticket.MovieGenre</h2>

                            <h6>Price: @ticket.TicketPrice</h6>
                        </div>

                        <div class="card-footer">

                            <a asp-controller="Tickets" asp-action="AddTicketToCart" asp-route-id="@ticket.Id" class="btn btn-primary">To Cart</a>
                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="btn btn-danger">Delete</a>

                        </div>
                    </div>
                </div>



                if (i % 3 == 2)
                {
                @:</div>
            }
        }

    </div>